body {
  @media screen and (max-width: 1024px) {
    font-size: 12px;
  }
}

.h4, h4 {
  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}

.mobile-hidden {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.desktop-hidden {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.page-content {
  position: relative;
}

.table-border-1 td {
  border-width: 1px;
}

.table-center-td td {
  vertical-align: middle;
  text-align: center;
}

.VuePagination {
  margin-top: 15px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    @media screen and (max-width: 560px) {
      flex-wrap: wrap;
    }
  }

  p {
    margin: 0;
  }
}

.bi-trash-fill {
  cursor: pointer;
}

* {
  &::-webkit-scrollbar {
    width: 7px;
    height: 4px;
    background-color: hsl(0, 0%, 84%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl(216, 98%, 52%);
    border-radius: 3px;
  }
}

.btn {
  color: hsl(0, 0%, 100%);
  @media screen and (max-width: 560px) {
    font-size: 14px !important;
  }

  &.btn-info,
  &.btn-warning {
    &:hover {
      color: hsl(0, 0%, 100%);
    }
  }
}

.admin-content {
  .page-content {
    .multiselect {
      font-size: 13px;
      min-height: 30px;

      &__input,
      &__single {
        font-size: 13px;
      }

      &__single {
        margin-bottom: 0;
        padding-top: 4px;
      }

      &__select {
        padding: 0 8px;
        height: 30px;

        &::before {
          top: 58%;
        }
      }

      &__placeholder {
        font-size: 13px;
        margin-bottom: 0;
        padding: 4px 0 0 3px;
      }

      &__tags {
        padding: 0 40px 0 0;
        min-height: 30px;
        border: 1px solid hsl(0, 0%, 73%);
      }
    }
  }
}