.table-border-1 td {
  border-width: 1px;
}

.table-center-td td {
  vertical-align: middle;
  text-align: center;
}

.VuePagination {
  margin-top: 15px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.bi-trash-fill {
  cursor: pointer;
}