.card-filter {
  &__rows {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    padding: 0 30px;

    @media screen and (max-width: 1700px) {
      grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 560px) {
      grid-gap: 5px;
    }
  }

  &__buttons {
    display: flex;
    padding: 0 30px;
    margin-top: 15px;

    .btn:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__search,
  &__refresh {
    width: 100%;

    max-width: 150px;

    @media screen and (max-width: 1280px) {
      max-width: none;
      flex-grow: 1;
    }
  }
}

.card-filter-item {
  display: flex;
  align-items: center;

  &__line {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @media screen and (max-width: 560px) {
      margin-bottom: 10px;
    }
  }

  &--is-mobile-flex {
    @media screen and (max-width: 560px) {
      display: flex !important;
    }
  }

  @media screen and (max-width: 560px) {
    display: grid;
  }

  &__form {
    flex-grow: 1;
    @media screen and (max-width: 560px) {
      width: 100%;
    }

    &--is-year {
      display: flex;
    }
  }

  &__select {
    width: 100%;
    border-radius: 3px;
    @media screen and (max-width: 560px) {
      min-width: 100%;
    }

    &--is-year {
      min-width: 100px;
      flex-grow: 1;
    }
  }

  &__label {
    font-weight: bold;
    min-width: 150px;
  }

  &__input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 73%);

    @media screen and (max-width: 560px) {
      min-width: 100%;
    }
  }
}