.card-body {
  &__grid {
    @media screen and (max-width: 1570px) and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    .auto-tires-list-column-images {
      @media screen and (max-width: 1570px) and (min-width: 1024px) {
        height: 165px;
        overflow: hidden;
        align-items: flex-start;

        &::before {
          align-self: center;
        }
      }
    }
  }
}