.product-box-image-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
}

.product-box-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  width: 170px;

  &--small {
    max-width: 50px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid hsl(210, 14%, 89%);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }
}

.td-description {
  max-width: 100px;
  font-size: 12px;
  white-space: normal;
  @media screen and (max-width: 1570px) {
    max-width: 100%;
  }
}

.product-more-photo {
  font-size: 12px;
  font-weight: bold;
  color: hsl(216, 98%, 52%);
  margin: auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: hsl(216, 98%, 52%);
  }
}

.td-viewed {
  font-size: 12px;
  text-align: center;
}

.productlist {
  .product-title {
    max-width: 150px;
    white-space: normal;
    @media screen and (max-width: 1570px) {
      font-size: 12px;
      max-width: 100%;
    }
  }
}

.card-filter {
  &__rows {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px;

    @media screen and (max-width: 1700px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }

  &__buttons {
    display: flex;
    padding: 0 30px;
    margin-top: 15px;

    .btn:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__search,
  &__refresh {
    width: 100%;

    max-width: 150px;

    @media screen and (max-width: 1280px) {
      max-width: none;
      flex-grow: 1;
    }
  }
}

.card-filter-item {
  display: flex;
  align-items: center;
  @media screen and (max-width: 560px) {
    display: grid;
  }

  &__form {
    flex-grow: 1;
    @media screen and (max-width: 560px) {
      width: 100%;
    }

    &--is-year {
      display: flex;
    }
  }

  &__select {
    width: 100%;
    border-radius: 3px;
    @media screen and (max-width: 560px) {
      min-width: 100%;
    }

    &--is-year {
      min-width: 100px;
      flex-grow: 1;
    }
  }

  &__label {
    font-weight: bold;
    min-width: 150px;
  }

  &__input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 73%);

    @media screen and (max-width: 560px) {
      min-width: 100%;
    }
  }
}

.auto-parts-list-wrapper-column-edit {
  background-color: unset;
  border: none;
  color: hsl(208, 77%, 47%);
  padding: 0;
  cursor: pointer;
}

.auto-parts-list-wrapper-column-edits {
  &__button {
    margin-top: 2px;
    outline: none;
  }

  &__input {
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 73%);
  }
}

@media screen and (max-width: 560px) {
  ::v-deep {
    .card-body-pagination-mobile {
      .VuePagination {
        margin-top: 0 !important;

        &__pagination-item {
          &:not(:is(VuePagination__pagination-item)) {
            text-align: center;
          }
        }

        .pagination {
          position: fixed;
          align-items: center;
          bottom: 0;
          margin-bottom: 0;
          height: 40px;
          left: 0;
          right: 0;
          background: hsl(0, 0%, 100%);
          justify-content: center;
          box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.18);
        }

        .page-link {
          padding: 3px 5px;
          border-radius: 0;
          min-width: 26px;
        }

        nav {
          justify-content: center;
        }
      }
    }
  }
}
