.td-description {
  max-width: 100px;
  font-size: 12px;
  white-space: normal;
  @media screen and (max-width: 1570px) {
    max-width: 100%;
  }
}

.td-viewed {
  font-size: 12px;
  text-align: center;
}

.productlist {
  .product-title {
    max-width: 150px;
    white-space: normal;
    @media screen and (max-width: 1570px) {
      font-size: 12px;
      max-width: 100%;
    }
  }
}


@media screen and (max-width: 560px) {
  ::v-deep {
    .card-body-pagination-mobile {
      .VuePagination {
        margin-top: 0 !important;

        &__pagination-item {
          &:not(:is(VuePagination__pagination-item)) {
            text-align: center;
          }
        }

        .pagination {
          position: fixed;
          align-items: center;
          bottom: 0;
          margin-bottom: 0;
          height: 40px;
          left: 0;
          right: 0;
          background: hsl(0, 0%, 100%);
          justify-content: center;
          box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.18);
        }

        .page-link {
          padding: 3px 5px;
          border-radius: 0;
          min-width: 26px;
        }

        nav {
          justify-content: center;
        }
      }
    }
  }
}