.top-header {
  @media screen and (max-width: 1024px) {
    height: 60px;
  }
  &__oldest {
    @media screen and (max-width: 1024px) {
      font-size: 0.7rem !important;
      line-height: 13px;
    }
  }

  .navbar {
    .mobile-toggle-icon {
      @media screen and (max-width: 560px) {
        padding: 10px;
      }
    }
    @media screen and (max-width: 560px) {
      padding: 0 10px 0 0 !important;
    }
    .top-navbar-right .nav-link {
      @media screen and (max-width: 1024px) {
        font-size: 16px;
        padding: 0;
      }
    }
  }
}

.user-setting.d-flex.align-items-center {
  @media screen and (max-width: 1024px) {
    font-size: 12px;
    margin-right: 10px;
  }
}
