<Limit GET POST HEAD>
Order Allow,Deny
Allow from all

Deny from env=bad_bot
</Limit>


# 1.To use URL Alias you need to be running apache with mod_rewrite enabled.

# 2. In your opencart directory rename htaccess.txt to .htaccess.

# For any support issues please visit: http://www.opencart.com

Options +FollowSymlinks

# Prevent Directoy listing
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
## For apache 2.2 and older, replace "Require all denied" with these two lines :
# Order deny,allow
# Deny from all
</FilesMatch>

# SEO URL Settings
RewriteEngine On
# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/

RewriteBase /
RewriteRule ^system/download/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
#RewriteRule ^([^?]*) index.php?_route_=$1 [L]

# redirect from ?page=1 to /

RewriteCond %{QUERY_STRING} ^page=1$
RewriteRule ^(.*)$ https://d4.by/$1? [R=301,L]

php_value max_execution_time 2000000

#Заглушка для index.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ https://%{HTTP_HOST}/ [R=301,L]

#Редирект с www.domain.com на domain.com
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule (.*) https://%1/$1 [R=permanent,L]

# END cPanel-generated php ini directives, do not edit
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "http://localhost:8083"
    #Header always set Access-Control-Allow-Origin "*"
</IfModule>