.car-list-wrapper-column {
  vertical-align: middle;
  border: 1px solid hsl(0, 0%, 80%);

  &__link {
    border: 1px solid;
    color: hsl(208, 77%, 47%);
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;

    &:hover {
      background-color: hsl(208, 77%, 47%);
      color: hsl(0, 0%, 100%);
    }
  }

  &__remove {
    border: 1px solid;
    color: red;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top:5px;

    &:hover {
      background-color: red;
      color: hsl(0, 0%, 100%);
    }
  }
}

.car-list-wrapper-column-images {
  display: flex;
  flex-wrap: wrap;
  width: min-content;

  &__item {
    padding: 2px;

    &:first-child {
      width: 100%;
      padding-bottom: 0;

      img {
        max-width: 200px;
      }
    }

    &:not(:first-child) img {
      max-width: 50px;
    }
  }
}

.car-list-wrapper-column-edit {
  background-color: unset;
  border: none;
  color: hsl(208, 77%, 47%);
  padding: 0;
  cursor: pointer;
}

.car-list-wrapper-column-edits {
  &__button {
    margin-top: 2px;
  }

  &__input {
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 73%);
  }
}