.product-box-image-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 170px;
}

.product-box-image {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  width: 170px;

  &--small {
    max-width: 50px;
    margin:3px;
    cursor: pointer;
    border: 1px solid hsl(210, 14%, 89%);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  img {
    width: 100%;
  }
}

.td-description {
  max-width: 100px;
  font-size: 12px;
  white-space: normal;
}

.product-more-photo {
  font-size: 12px;
  font-weight: bold;
  color: hsl(216, 98%, 52%);
  margin: auto;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: hsl(216, 98%, 52%);
  }
}

.td-viewed {
  font-size: 12px;
  text-align: center;
}

.productlist .product-title {
  max-width: 150px;
  white-space: normal;
}

.card-filter {
  &__rows {
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    padding: 0 30px;
  }

  &__buttons {
    display: flex;
    padding: 0 30px;

    .btn {
      margin-right: 10px;
    }
  }

  &__search,
  &__refresh {
    max-width: 150px;
    margin-top: 15px;
  }
}

.card-filter-item {
  display: flex;
  align-items: center;

  &__form {
    min-width: 300px;
  }

  &__select {
    min-width: 300px;
    border-radius: 3px;

    &--is-year {
      min-width: 100px;
    }
  }

  &__label {
    font-weight: bold;
    min-width: 150px;
  }

  &__input {
      height: 30px;
      padding: 0 10px;
      box-sizing: border-box;
      outline: none;
      border-radius: 3px;
      border: 1px solid hsl(0, 0%, 73%);
      min-width: 300px;
  }
}

.auto-parts-list-wrapper-column-edit {
  background-color: unset;
  border: none;
  color: hsl(208, 77%, 47%);
  padding: 0;
  cursor: pointer;
}

.auto-parts-list-wrapper-column-edits {
  &__button {
    margin-top: 2px;
    outline: none;
  }

  &__input {
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 3px;
    border: 1px solid hsl(0, 0%, 73%);
  }
}