.td-description {
  max-width: 100px;
  font-size: 12px;
  white-space: normal;
  @media screen and (max-width: 1570px) {
    max-width: 100%;
  }
}

.td-viewed {
  font-size: 12px;
  text-align: center;
}

.productlist {
  .product-title {
    max-width: 150px;
    white-space: normal;
    @media screen and (max-width: 1570px) {
      font-size: 12px;
      max-width: 100%;
    }
  }
}

.card-body {
  &__grid {
    @media screen and (max-width: 1570px) and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    .auto-parts-list-column-images {
      @media screen and (max-width: 1570px) and (min-width: 1024px) {
        height: 170px;
        overflow: hidden;
        align-items: flex-start;

        &::before {
          align-self: center;
        }
      }
    }
  }
}